.galeria h1{
    color: white;
    text-shadow: 1px -2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria {
    margin: 10px auto; /* Centra el contenedor horizontalmente */
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 black;
    width: 80%; /* Cambia el ancho del contenedor */
    display: flex; /* Usa flexbox para alinear las imágenes */
    justify-content: center; /* Centra las imágenes horizontalmente */
    flex-direction: column; /* Cambia la dirección del flexbox a vertical */
}

div.galeria .foto {
    width: auto; /* Establece un ancho automático para cada contenedor de imagen */
    margin-right: 10px; /* Espacio horizontal entre los contenedores de las fotos */
}

div.galeria img {
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
}





div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);

}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}